.avatar-show-img {
  height: 128px;
  width: 128px;
}

.well.profile-block {
  color: white;
  h3 {
    margin-top: 0;
  }
}

.well.profile-description {
  background-color: #41295a;
  border-color: #41295a;
}

.well.profile-contact-info {
  background-color: #5bc0de;
  border-color: #46b8da;
}